extends ../../index.pug
include ../../mixin/errPUG/errPUG.pug

block content
    include ../../components/nav/nav
    div.content
        +errPUG('500', 'Internal Server Error')

append scripts
    script(type="module", src="./500.js")
    