extends ../../index.pug
include ../../mixin/configInput/configInput.pug

block content
    include ../../components/nav/nav
    div.change
        div.change__avatar(title='Change Avatar') Change Avatar
            div.change__avatar_notion Change Avatar
        form.change__form
            +configInput('************', 'Old password')(type='password', name='oldPassword', id='oldPassword', for='oldPassword')
            +configInput('************', 'New password')(type='password', name='newPassword', id='newPass_1', for='newPassword')
            +configInput('************', 'Repeat password')(type='password', id='newPass_2', for='newPassword')
        button.change__button Save
        div.change__push-back
            a.change__push-back-button(href='~static/index.pug')

append scripts
    script(type="module", src="./changePassword.js")
    