@import '../../styles/vars';

.settings {
    width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px auto 150px;
    &__button {
        width: 280px;
        height: 37px;
        margin-top: 60px;
        background: $color_main;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        padding: 12px 0;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
        color: $color_w;
        transition: 0.3s;
        &:hover {
            opacity: 0.6;
        }
    }

    &__push-back {
        height: 96vh;
        width: 65px;
        background: $color_w;
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
        top: 34px;
        left: 0;
        &-button {
            width: 28px;
            height: 28px;
            background-image: url('../../assets/icons/push_back.svg');
            background-color: transparent;
            cursor: pointer;
            transition: 0.3s;
            opacity: 0.9;
            &:hover {
                transition: 300ms;
                opacity: 0.99;
                transform: translateX(-3px);
            }
        }
    }
    &__avatar {
        width: 130px;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #efefef url('../../assets/images/man.png') no-repeat center/cover;
        border-radius: 65px;
        margin-bottom: 97px;
        cursor: pointer;
        transition: 750ms;
        font-size: 0px;
        font-weight: 700;
        text-align: center;
        &_notion {
            display: none;
            width: 115px;
            height: 100px;
        }
        &:hover {
            filter: blur(0.3px) sepia(80%);
            transition: 750ms;
            font-size: 25px;
        }
    }
    &__form {
        width: 100%;
    }
    .input__container {
        width: 100%;
        border-bottom: 1px solid $color_777;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        height: 30px;
        padding-bottom: 10px;
        &:last-of-type {
            margin-bottom: 0;
            border-bottom: none;
        }

        .input {
            text-align: right;
            &:active {
                outline: 0;
                outline-offset: 0;
            }
            &:focus {
                outline: 0;
                outline-offset: 0;
                border-bottom: 0px solid $color_peri;
            }
            &::placeholder {
                text-align: right;
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 13px;
                color: #999999;
            }
        }
        .label {
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
            width: fit-content;
            height: fit-content;
            color: #1e1e1e;
        }
    }
}
