$color_main: #25272a;
$color_blue: #3577ef;
$color_777: #777;
$color_light_grey: #8d8d8d;
$color_peri: hsl(239, 29%, 54%);
$color_peri_a: hsl(239, 29%, 54%, 20%);
$color_w: #fefefe;
//$color_aqua: #7ab;
$color_aqua: #e4edfd;
