extends ../../../index.pug
block content
    include ../../../components/nav/nav
    div.overlay
        div.overlay__popup
            h1.overlay__title Success Load
            div.overlay__file Avatar.png
        
            button.overlay__button Accept
            div.overlay__subtext connection lost
append scripts
    script(type="module", src="./loadSuccess.js")
    